*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(/images/heroSectionBackground.jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; /* to put item in centre of navbar in height align-items: center; */
    padding: 16px 48px;
    height: 60px;
}

.navbar a {
    text-decoration: none; /*to remove all decoration like underline so none*/
    color: white;
    /* font-weight: 300; */
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.user__icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: solid 1px white;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero__section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 60px);
    gap: 32px;
}

.hero__section__Logo{
    width: 250px;
    height: auto;
}  

.hero__section__title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section__input__container{
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.input__container__location,
.input__container__search{
    padding: 0px;
    border: none;
    outline: none;
}

.input__container__search{
    width: 60%;
}

.input__container__location{
    width: 30%;
    border-right: 2px solid #e0e0e0;
}

@media only screen and (max-width: 600px){
    .navbar__menu_container .link{
        display: none;
    }

    .user__icon{
        display: flex;
    }

    .navbar{
        padding: 16px;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero__section__input__container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .input__container__location,
    .input__container__search{
        padding: 15px;
        border-radius: 10px;
        width: 90%;
    }

    .hero__section__container{
        height: calc(80vh - 60px);
    }

    .input__container__location{
        border-right: none;
    }
}